.cebianlan{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	width: 350px;
	background-color: #FAEBD7;
}
.drawGraph{
	position: absolute;
	top: 0;
	right: 0;
	z-index: 999;
	width: 350px;
}
/* 高级检索的div样式 */
#advancedSearch{
	position: absolute;
	top: 45px;
	left: 355px;
	z-index: 999;
	width: 350px;
	background-color: #FAEBD7; 
}
#allcontent{
	font-size: 12px;
	line-height: 45px;
	background-color: #aac6ee;
}
/* 高级检索的展开收起 */
.slideonSearch {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 12px;
	line-height: 45px;
	color: #ffffff;
	font-family: PingFangSC-Medium;
	/* margin-right: 30px; */
	margin-right: 8%;
	cursor: pointer;
}

/* 重置、检索的section区域 */
#finbar {
	width: 100%;
	display: inline-block;
	position: relative;
	height: 35px;
}
/* 重置按钮样式 */
#resetbtn {
	border: 0;
	position: absolute;
	bottom: 0;
	left: -0.5%;
	background: #757575;
	width: 46%;
	height: 35px;
	color: #ffffff;
	font-family:PingFangSC-Regular;
	font-size: 16px;
	letter-spacing:0;
	text-align:center;
}
/* 检索按钮样式 */
#subbtn {
	border: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	background: #3366cc;
	width: 54.5%;
	height: 35px;
	color: #ffffff;
	font-family:PingFangSC-Regular;
	font-size: 16px;
	letter-spacing:0;
	text-align:center;
}
/* 经纬度输入框样式 */
.grainput{
   display: inline-block;
   width: 90px;
   height: 24px;
   text-align: left;
   font-weight: normal;
}